html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav {
    background-color: rgb(190, 53, 202);
    color: rgb(255, 255, 255);
}
.navigation-item {
    background-color: rgb(233, 99, 233);
} 
h2 {
    color:  rgb(224, 46, 224);
    text-transform: uppercase;
}
.profile-color {
    background-color: rgb(190, 53, 202);
    color:rgb(255, 255, 255);
}
.info-section {
    background-color: rgb(233, 99, 233);
    color:rgb(255, 255, 255);
}
.profile-heading {
    color: white;
}