img {
	width: 200px;
	height: 200px;
	/* this is a comment */
}

.site-name {
	font-size: 50px;
	font-weight: 500;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(76, 27, 139);
	text-align: center;
	text-decoration: line-through;
	background-color: rgb(233, 157, 201);
}
.content-block {
	background-color: rgb(124, 252, 0);
	font-family: cursive;
	font-size: 25px;
}
#section1 {
	background-color: rgb(255, 160, 122);
	text-align: right;
}
footer {
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 100;
	font-size: 50px;
	background-color: rgb(255, 160, 122);
	text-align: center;

}
